@model MVCDolce.Models.PosiblesReingresos
@{
    ViewBag.Title = "Listado de Posibles Reingresos";

    var xlista = ViewData["ListaPosibles"] as List<MVCDolce.Models.PosiblesReingresos>;

    var total = (xlista == null) ? 0 : xlista.Count;

    var mensaje = (ViewBag.mensaje == null) ? string.Empty : ViewBag.mensaje;
    var error = (ViewBag.Error == null) ? string.Empty : ViewBag.Error;
}

@Html.Hidden("mensaje", (object)mensaje)
@Html.Hidden("Mensaje_error", (object)error)

@Html.Hidden("urlconsulta",Url.Action("ListadoPosiblesReingresos", "Visitas"))

<div class="container">
    <div class="div-search row">
        <h3>Consulta</h3>
        <div class="div-search-input input-field col m6 s10">
            <input type="text" id="txt-consulta" />
            <label for="txt-consulta">Documento</label>
        </div>
        <div class="div-search-buttom col m1 s1">
            <a class="btn-floating btn-large waves-effect waves-light red" onclick="buscar()"><i class="material-icons">search</i></a>
        </div>
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th data-field="avatar">Avatar</th>
                <th data-field="id">Documento</th>
                <th data-field="name">Nombre de la Asesora</th>
                <th data-field="telefono">Telefono</th>
                <th data-field="campana">Ultima Campaña</th>
                <th data-field="price">Seleccionar</th>
            </tr>
        </thead>

        <tbody>


            @if (xlista != null)
            {
                foreach (var item in xlista)
                {
                    <tr>
                        <td style="text-align:center"><i class="material-icons">account_circle</i></td>
                        <td>@item.StrDocumento</td>
                        <td>@item.StrNombre</td>
                        <td>@item.StrUltimaCampaña</td>
                        <td>@item.StrTelefono</td>
                        <td style="text-align:center"><a href="~/Visitas/PosibleReingreso?strCedula=@item.StrDocumento&strNombre=@item.StrNombre&campana=@item.StrUltimaCampaña"><i class="material-icons">grade</i></a></td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <div class="section">
        <h3>Total de Asesoras <span>@total</span></h3>
    </div>
</div>
@section scripts
    {
        <script type="text/javascript">
            $(function () {
            });

            function buscar() {

                var txtconsulta = $("#txt-consulta").val();

                var url = $("#urlconsulta").val();
                if (txtconsulta != "")
                {
                    window.location.href = url + '?consulta=' + txtconsulta;
                } else {
                    window.location.href = url;
                }

            }
        </script>
    }